.vscode/**
.vscode-test/**
.github/**
out/**
node_modules/**
src/**
scripts/**
examples/**
CLAUDE.md
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.aegisqignore
